@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义的全局样式在这里添加 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}